/*
* projtect TeamSwg
* Bootstrtap v5
* style breakpoint 
*/

header {
	background: #412cc9;
	height: 450px;
}

.logo {
	font-family: Calibri;
	color: white;
}
.logo>span>p {
	color: white;
}
.main_header {
	background: #ddbf44;
	height: 400px;
}


.search {
	background: #412cc9;
}
.search>p {
	color: white;
	padding: 10px 5px;
}


/*content*/
main {
	background: white;
}

.wp_content {
	display: flex;
	height: 2000px;
	background: silver;
	margin-top: 150px;
}

.main_top {
	height: 1200px;
}
/*content*/
.main_content {
	width: 80%;
	background: blue;
}

/*sidebare*/
.right_bar {
	width: 20%;
	background: green;
}
/*end content*/

/*banner advertising*/
.b_block {
	background: pink;
	height: 500px;
	margin: 50px 0;
}
.block_one {
	background: orange;
}
.content {
	margin-top: 150px;
	/*padding: 200px 0;*/
	background: silver;
}
#footer {
	height: 200px;
	background: #412cc9;
}


/* < 576px */
@media (max-width: 575.98px) { 

}

/* 575px */)
@media (min-width: 576px) and (max-width: 767.98px) { 

}

/* 768px */ 
@media (min-width: 768px) and (max-width: 991.98px) { 
}

/* 992px */
@media (min-width: 992px) and (max-width: 1199.98px) { 
}

/* 1200px */
@media (min-width: 1200px) { 
}