/*
* projtect TeamSwg
* Bootstrtap v5
* style breakpoint 
*/

/*header*/

* {
	font-family: Calibri;
}

header {
	background: #412cc9;
	height: 450px;
}

.logo {
	font-family: Calibri;
	color: white;
}
.logo>span>p {
	color: white;
}

.main_header {
	background: #e9e5dd;
	height: 400px;
	-webkit-box-shadow: 0px -4px 27px 6px rgba(31, 35, 37, 0.32);
	-moz-box-shadow: 0px -4px 27px 6px rgba(31, 35, 37, 0.32);
	box-shadow: 0px -4px 27px 6px rgba(31, 35, 37, 0.32);
}

.header_image_line {
	background-image: url("../img/noice_m.jpg");
	background-position:  center;
	height: 120px;
	/*width: 100%;*/
}

.line_decor_ready {
	padding: 10px 0;
	background-image: linear-gradient( 97.2deg,  rgba(235,62,62,1) 10.5%, rgba(101,46,229,1) 93.7% );
	display: flex;
	justify-content: flex-end;
	padding-right: 10px;
}

.line_dec {
	margin-right: 10px;
	width: 150px;
	border-radius: 20px;
	background: #E9E5DD;
} 
.line_dec_short  {
	padding-right: 10px;
	background: #f3826f;
	width: 10px;
	height: 10px;
	border-radius: 50px;
}


.desk_hd {
	padding: 5px;
}
.desk_hd>h2, .desk_hd>p{
	padding: 0;
	color: white;
}
.space_line {
	background: #3F2BC4;
	height: 20px; 
}




.search {
	background: #412cc9;
}
.search>p {
	color: white;
	padding: 10px 5px;
}


/*end header*/




/*content*/
main {
	background: white;
}

.wp_content {
	display: flex;
	height: 2000px;
	background: silver;
	margin-top: 150px;
}

.main_top {
	height: 1200px;
}
/*content*/
.main_content {
	width: 80%;
	background: blue;
}

/*sidebare*/
.right_bar {
	width: 20%;
	background: green;
}
/*end content*/

/*banner advertising*/
.b_block {
	background: pink;
	height: 500px;
	margin: 50px 0;
}
.block_one {
	background: orange;
}
.content {
	margin-top: 150px;
	/*padding: 200px 0;*/
	background: silver;
}
#footer {
	height: 200px;
	background: #412cc9;
}


/* < 576px */
@media (max-width: 575.98px) { 

}

/* 575px */)
@media (min-width: 576px) and (max-width: 767.98px) { 

}

/* 768px */ 
@media (min-width: 768px) and (max-width: 991.98px) { 
}

/* 992px */
@media (min-width: 992px) and (max-width: 1199.98px) { 
}

/* 1200px */
@media (min-width: 1200px) { 
}